.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow-x: hidden;
}
 body{
    color:var(--blackColor);
  }
  header{
    text-align: center;
    padding: 26px 0;
  }
  h1{
    font: 700 24px/28px var(--fontRubik);
  }
  main{
    background-color: var(--graybgColor);
  }
  .head-section{
    text-align: center;
    padding-top: 125px;
  }
  h2{
    font:700 60px/65px var(--fontRoboto);
    padding-bottom: 34px;
  }
  .head-section p{
    font: 400 19px/32px var(--fontRoboto);
    padding-bottom: 55px;
    opacity: 70%;
  }
  .form-section{
    margin: 0 auto;
    width: 350px;
    border-radius:10px;
    border: 1px solid var(--grayColor);
    box-shadow: 0px 34px 33px -23px rgba(22, 28, 45, 0.13);
    padding: 30px 26px;
    background-color: #fff;
  }
  .form p {
    text-align: center;
    margin-top: 39px;
    padding-bottom: 158px;
    font: 400 17px/28px var(--fontRoboto);
  }
  a{
    color: var(--blueColor);
  }
  label{
    font: 700 15px/26px var(--fontRoboto);
  }
  input{
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--grayColor);
    padding: 12px 18px;
    font: 400 15px/26px var(--fontRoboto);
    margin-bottom: 26px;
    margin-top: 7px;
  }
  button{
    margin-top: 44px;
    width: 100%;
    padding: 14px 0;
    background-color:var(--blueColor);
    border-radius: 8px;
    border: none;
    font: 700 17px/32px var(--fontRoboto);
    color: #fff;
  }
  button:hover{
    background-color: rgb(5, 5, 81);
  }
  .back{
    padding-bottom: 50px;
    text-align: center;
  }

     /* FOOTER */
     footer {
      background-color: var(--blackColor);
      color: var(--whiteColor);
    }
    .foot {
      padding: 122px 0 165px 0;
      display: flex;
    }
    .foot_left {
      flex-grow: 1;
    }
    .foot_left_title {
      padding-bottom: 36px;
    }
    .foot_left_text {
      width: 274px;
      opacity: 65%;
      padding-bottom: 44px;
    }
    .social {
      display: flex;
      align-items: center;
      gap: 24px;
      transition: all 0.5ms;
    }
    .social img:hover{
      transform: scale(1.1);
    }
    .foot_right {
      display: flex;
      gap: 50px;
      justify-content: space-evenly;
      flex-grow: 3;
    }
    .foot_card h4 {
      opacity: 65%;
      padding-bottom: 20px;
    }
    .foot_link {
      color: var(--whiteColor);
      padding-bottom: 20px;
    
    }
    .foot_list{
      transition: all 0.5ms;
    }
    .foot_list:hover{
      transform: scale(1.05);
    }
    